* { background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    text-align: center;
}

canvas {
    display: inline;
    margin: 0px;
    auto;
}
